body {
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	border: 10px solid #73AD21;
}

aside {
    float: left;
	border: 1px solid red;
	width: 125px;
}

article {
	margin-left: 125px;
	padding: 50px;
	border: 5px solid blue;
}

article ul{
    right: 0px;
    width: 700px;
	height: 100px;
    border: 3px solid #73AD21;
}

h1{
	text-align: center;
}

.menu{
	display: inline-block;
    list-style-type: none;
}

.menu li {
    float: left;
    padding: 10px;

}

.contenu{
	display: inline-block;
    list-style-type: none;
}
.contenu li{
    float: left;
	padding: 10px;
}